
emacs/.emacs.d/abbrev_defs
emacs/.emacs.d/.lsp-session*
emacs/.emacs.d/.cache/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/backups/
emacs/.emacs.d/elpa/
emacs/.emacs.d/eshell
emacs/.emacs.d/ido.last
emacs/.emacs.d/recentf
emacs/.emacs.d/smex-items
emacs/.emacs.d/amx-items
emacs/.emacs.d/undo/
emacs/.emacs.d/url/
emacs/.emacs.d/network-security.data
emacs/.emacs.d/bookmarks
emacs/.emacs.d/settings.el
emacs/.emacs.d/custom.el
emacs/.emacs.d/irony/
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/.nrepl-port
emacs/.emacs.d/tramp
emacs/.emacs.d/transient
emacs/.emacs.d/%backup%~
emacs/.emacs.d/pyim/
emacs/.emacs.d/snippets/
emacs/.emacs.d/.mc-lists.el
emacs/.emacs.d/site_lisp
emacs/.emacs.d/var/
emacs/.emacs.d/quelpa/
emacs/.emacs.d/javadoc-cache/
emacs/.emacs.d/emms/
emacs/.emacs.d/emojis/
emacs/.emacs.d/themes/
emacs/.emacs.d/cnfonts/
emacs/.emacs.d/auto-save/
emacs/.emacs.d/taskrunner-tasks.eld
emacs/.emacs.d/.dap-breakpoints
emacs/.emacs.d/eaf/
emacs/.emacs.d/plugins/bibtex-utils/
emacs/.emacs.d/plugins/sauron-mode-line.el
emacs/.emacs.d/site-lisp/
emacs/.emacs.d/third_parties/english-teacher.el/
emacs/.emacs.d/third_parties/go-translate/
emacs/.emacs.d/third_parties/snippets/python-mode/
emacs/.emacs.d/settings.org.bakup
emacs/.emacs.d/eln-cache/
emacs/.emacs.d/.extension/
emacs/.emacs.d/request/
emacs/.emacs.d/.org-id-locations
emacs/.emacs.d/early-init.el
emacs/.emacs.d/history
emacs/.emacs.d/org-roam.db

vim/.vim/.netrwhist
vim/.vim/autoload
vim/.vim/plugged

weechat/.weechat/logs/
weechat/.weechat/sec.conf
weechat/.weechat/weechat.log

config/.config/GIMP/
config/.config/Hyper/
config/.config/Postman/
config/.config/QtProject.conf
config/.config/Trolltech.conf
config/.config/Zeal/
config/.config/autostart/
config/.config/chromium/
config/.config/configstore/
config/.config/dconf/
config/.config/filetypesrc
config/.config/gtk-2.0/
config/.config/htop/
config/.config/kdeglobals
config/.config/kdenliverc
config/.config/krulerrc
config/.config/krusaderrc
config/.config/menus/
config/.config/mimeapps.list
config/.config/obs-studio/
config/.config/oni/
config/.config/pulse/
config/.config/trashrc
config/.config/vlc/
