#More style examples could be found from: https://clang.llvm.org/docs/ClangFormatStyleOptions.html#
---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: google

UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
---
